<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow, all" />
        <title>FlorianWolters\Component\Core\HashCodeTrait | FlorianWolters\Component\Core\HashCode API</title>
                    <link rel="stylesheet" type="text/css" href="../../../stylesheet.css">
                            </head>
        <body id="class">
            <div class="header">
        <ul>
            <li><a href="../../../classes.html">Classes</a></li>
                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                        <li><a href="../../../interfaces.html">Interfaces</a></li>
            <li><a href="../../../traits.html">Traits</a></li>
            <li><a href="../../../doc-index.html">Index</a></li>
            
        </ul>

        <div id="title">FlorianWolters\Component\Core\HashCode API</div>

            <div class="type">Trait</div>
    <h1><a href="../../../FlorianWolters/Component/Core.html">FlorianWolters\Component\Core</a>\HashCodeTrait</h1>
    </div>
        <div class="content">
                <p>    trait
    <strong>HashCodeTrait</strong></p>

            <div class="description">
            <p>The trait {see HashCodeTrait} provides a hash code value for objects.</p>
            <p>Always implement the interface {see HashCodeInterface} if using the trait
{see HashCodeTrait}, since that allows {@link
http://php.net/language.oop5.typehinting Type Hinting}.</p>
        </div>
    
    
    
            <h2>Methods</h2>

            <table>
                    <tr>
                <td class="type">
                    string
                </td>
                <td class="last">
                    <a href="#method_hashCode">hashCode</a>()
                    <p>Returns a hash code value for this object.</p>
                </td>
                <td></td>
            </tr>
            </table>


        <h2>Details</h2>

                        <h3 id="method_hashCode">
        <div class="location">at line 46</div>
        <code>            public            string
    <strong>hashCode</strong>()</code>
    </h3>
    <div class="details">
        <p>Returns a hash code value for this object.</p>
        <p>The general contract of {see hashCode} is:</p>

<p>Whenever it is invoked on the same object more than once during an
execution of a PHP application, the {see hashCode} method must
consistently return the same string. This string need not remain
consistent from one execution of an application to another execution of
the same application.</p>

<p>As much as is reasonably practical, the {see hashCode} method defined by
trait {see HashCodeTrait} does return distinct strings for distinct
objects.</p>

<p>The {see hashCode} method implements the <em>Equality Method</em>
implementation pattern.</p>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table>
        <tr>
            <td>string</td>
            <td>The hash code value.</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

    
            </div>
            <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/" target="_top">Sami, the API Documentation Generator</a>.
    </div>
    </body>
</html>
